<div th:fragment="shawarma-item (shawarma)" class="col-lg-3 d-flex align-items-stretch">
    <div class="card mb-5 shadow" th:if="${shawarma.getFilename()}">
        <img th:src="@{/img/{path} (path = ${shawarma.getFilename()})}" class="rounded mx-auto w-50">
        <div class="card-body text-center">
            <h5 th:text="${shawarma.getShawarmaTitle()}"></h5>
            <h6 th:text="${shawarma.getCategory()}"></h6>
            <h6><span th:text="${shawarma.getPrice()}"></span>.00 р.</h6>
        </div>
        <div class="text-center align-items-end mb-3">
            <a th:href="@{/shawarma/{shawarmaId} (shawarmaId = ${shawarma.getId()})}" class="btn btn-dark">
                Подробности
            </a>
        </div>
    </div>
</div>

<div th:fragment="category-item" class="col-2 float-left">
    <a th:href="${'/shawarma?categorys=' + category}">
        <img class="img-fluid" th:src="${src}" alt="">
    </a>
</div>

<div th:fragment="shawarmas-category-checkbox(category)" class="checkbox">
    <label>
        <input th:value="${category}" type="checkbox" name="categorys" onChange="this.form.submit()"
               th:checked="${searchRequest.getCategorys() != null ? #arrays.contains(searchRequest.getCategorys(), category) : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${category}"></th:block>
    </label>
</div>

<div th:fragment="shawarmas-morality-checkbox(morality)" class="checkbox">
    <label>
        <input th:value="${morality}" type="checkbox" name="moralitys" onChange="this.form.submit()"
               th:checked="${searchRequest.getMoralitys() != null ? #arrays.contains(searchRequest.getMoralitys(), morality) : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${#strings.capitalize(morality)}"></th:block>
    </label>
</div>

<div th:fragment="shawarmas-price-checkbox" class="checkbox">
    <label>
        <input th:value="${startingPrice}" type="radio" name="price" onChange="this.form.submit()"
               th:checked="${searchRequest.getPrice() != null ? startingPrice == searchRequest.getPrice() : false}"/>
        <span class="cr"><i class="cr-icon fas fa-check"></i></span>
        <th:block th:text="${startingPrice == 0} ? 'всё' : ${startingPrice} + ' - ' + ${endingPrice} + ' р.'"></th:block>
    </label>
</div>
