<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <p class="h4 mb-4 text-center">
                <i class="fas fa-shopping-cart mr-2"></i>
                Корзина
            </p>
            <div class="text-center" th:if="${shawarmas.size() == 0}">
                <p>Корзина пуста</p>
            </div>
            <div th:if="${shawarmas.size() > 0}">
                <div class="card mb-3 mx-auto" style="max-width: 940px;" th:each="shawarma : ${shawarmas}">
                    <div class="row no-gutters">
                        <div class="col-2 mx-3 my-3">
                            <img th:src="@{/img/{path} (path = ${shawarma.getFilename()})}" class="img-fluid" alt="">
                        </div>
                        <div class="col-7">
                            <div class="card-body">
                                <h5 class="card-title"
                                    th:text="${shawarma.getCategory() + ' ' + shawarma.getShawarmaTitle()}"></h5>
                            </div>
                        </div>
                        <div class="col-2">
                            <div class="card-body">
                                <h5 class="card-title"><span th:text="${shawarma.getPrice()}"></span> р.</h5>
                                <form class="d-inline" action="/cart/remove" method="post">
                                    <button class="btn btn-warning mb-2">
                                        <i class="far fa-minus-square mr-2"></i>
                                        Удалить
                                    </button>
                                    <input type="hidden" name="shawarmaId" th:value="${shawarma.getId()}">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="my-3"/>
                <div class="row">
                    <div class="col-9">
                        <p class="h5 text-right">Итого: <span th:text="${#aggregates.sum(shawarmas.![price])}"></span> р.</p>
                    </div>
                    <div class="col-3">
                        <form action="/order" method="get" class="ml-3">
                            <div class="form-row">
                                <button class="btn btn-success">
                                    <i class="fas fa-shopping-bag mr-2"></i>
                                    Заказать
                                </button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
