<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 bg-white shadow-sm card-height">
            <div class="row mx-3">
                <th:block th:replace="fragments/account-fragments :: account-sidebar"/>
                <div class="col-md-10">
                    <div class="container mb-5">
                        <th:block th:replace="fragments/common-fragments :: info-title(
                            text='Заказ #' + ${order.getId()},
                            titleClass='text-center',
                            icon='fas fa-shopping-bag'
                        )"/>
                        <div class="row border my-5 px-5 py-3">
                            <div class="col-md-6">
                                <h5 class="manage_user_order_subtitle">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    Customer information
                                </h5>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Имя', text=${order.getFirstName()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Фамилия', text=${order.getLastName()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Город', text=${order.getCity()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Адрес', text=${order.getAddress()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Email', text=${order.getEmail()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Номер телефона', text=${order.getPhoneNumber()})"/>
                            </div>
                            <div class="col-md-6">
                                <h5 class="manage_user_order_subtitle">
                                    <i class="fas fa-info-circle mr-2"></i>
                                    Order information
                                </h5>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='ID заказа', text=${order.getId()})"/>
                                <th:block th:replace="fragments/common-fragments :: data-item(title='Дата', text=${#temporals.format(order.getDate(), 'yyyy-MM-dd HH:mm')})"/>
                                <h4 class="manage_user_order_summary">
                                    Order summary:
                                    <span class="manage_user_order_summary_price" th:text="'$' + ${order.getTotalPrice()} + '0'"></span>
                                </h4>
                            </div>
                        </div>
                        <table class="table border text-center">
                            <thead class="table-active">
                            <tr>
                                <th>ID продукта</th>
                                <th>Категория</th>
                                <th>Назавние</th>
                                <th>Цена</th>
                            </tr>
                            </thead>
                            <tbody th:each="shawarma : ${order.getShawarmas()}">
                            <tr>
                                <th>
                                    <a th:href="@{/shawarma/{shawarmaId} (shawarmaId = ${shawarma.getId()})}" th:text="${shawarma.getId()}"></a>
                                </th>
                                <th th:text="${shawarma.getCategory()}"></th>
                                <th th:text="${shawarma.getShawarmaTitle()}"></th>
                                <th th:text="'$' + ${shawarma.getPrice()} + '.00 р.'"></th>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
