<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/common-fragments :: head"></head>
<body>
<div th:insert="~{fragments/common-fragments :: scripts}"></div>
<div th:replace="fragments/common-fragments :: navbar"></div>
<div id="container" class="bg-light">
    <div class="py-5">
        <div class="container py-5 px-5 bg-white shadow-sm card-height">
            <form action="/order" method="post" enctype="multipart/form-data">
                <h4 class="mb-4 text-center">
                    <i class="fas fa-shopping-bag mr-2"></i>
                    Данные заказа
                </h4>
                <br/>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Имя:</label>
                            <div class="col-sm-8">
                                <input type="text" name="firstName" th:value="${order} ? ${order.firstName} : ''"
                                       class="form-control" th:classappend="${firstNameError} ? ' in-correct'"/>
                                <div th:if="${firstNameError}" class="invalid-feedback"
                                     th:text="${firstNameError}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Фамилия:</label>
                            <div class="col-sm-8">
                                <input type="text" name="lastName" th:value="${order} ? ${order.lastName} : ''"
                                       class="form-control" th:classappend="${lastNameError} ? ' in-correct'"/>
                                <div th:if="${lastNameError}" class="invalid-feedback" th:text="${lastNameError}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Город:</label>
                            <div class="col-sm-8">
                                <input type="text" name="city" th:value="${order} ? ${order.city} : ''"
                                       class="form-control" th:classappend="${cityError} ? ' in-correct'"/>
                                <div th:if="${cityError}" class="invalid-feedback" th:text="${cityError}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Адрес:</label>
                            <div class="col-sm-8">
                                <input type="text" name="address" th:value="${order} ? ${order.address} : ''"
                                       class="form-control" th:classappend="${addressError} ? ' in-correct'"/>
                                <div th:if="${addressError}" class="invalid-feedback" th:text="${addressError}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Телефон:</label>
                            <div class="col-sm-8">
                                <input type="text" name="phoneNumber" th:value="${order} ? ${order.phoneNumber} : ''"
                                       class="form-control" th:classappend="${phoneNumberError} ? ' in-correct'"
                                       placeholder="+7 (___)___-__-__"/>
                                <div th:if="${phoneNumberError}" class="invalid-feedback"
                                     th:text="${phoneNumberError}"></div>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Email:</label>
                            <div class="col-sm-8">
                                <input type="text" name="email" th:value="${order} ? ${order.email} : ''"
                                       class="form-control" th:classappend="${emailError} ? ' in-correct'"
                                       placeholder="exemple@email.com"/>
                                <div th:if="${emailError}" class="invalid-feedback" th:text="${emailError}"></div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-6">
                        <div class="container-fluid">
                            <div class="row" th:fragment="list">
                                <div class="col-lg-6 d-flex align-items-stretch" th:each="shawarma : ${shawarmas}">
                                    <div class="card mb-5" th:if="${shawarma.getFilename()}">
                                        <img th:src="@{/img/{path} (path = ${shawarma.getFilename()})}"
                                             class="rounded mx-auto w-50">
                                        <div class="card-body text-center">
                                            <h5 th:text="${shawarma.getShawarmaTitle()}"></h5>
                                            <h6 th:text="${shawarma.getCategory()}"></h6>
                                            <h6><span th:text="${shawarma.getPrice()}"></span>.00 р.</h6>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <button class="btn btn-primary btn-lg btn-success px-5 float-right">
                            <i class="fas fa-check-circle"></i>
                            Оформить заказ
                        </button>
                        <input type="hidden" name="totalPrice" th:value="${#aggregates.sum(shawarmas.![price])}">
                        <div class="row">
                            <h4>К оплате: <span th:text="${#aggregates.sum(shawarmas.![price])}"></span>.00 р.</h4>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<footer th:insert="~{fragments/common-fragments :: footer}"></footer>
</body>
</html>
